@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .composer-input {
    @apply w-full bg-surface border border-borderDark rounded-[32px] px-6 py-4 text-primary outline-none focus:border-secondary transition-colors;
  }
}
